.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.first-section{
    display: flex;
}
.hamburger-menu-icon{
    width: 25px;
    margin: 0 24px ;
}
.youtube-logo-icon{
    width: 90px;
}

.second-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 6px ;
    border-radius: 2px;
    border: 1px solid rgb(203, 200, 200);
    box-shadow: inset 1px 1px 1px rgba(176, 175, 175, 0.388);
    z-index: 1;
}

.search-bar::placeholder{
    font-size: 15px;
}
.search-button{
    height: 38px;
    width: 64px;
    border-radius: 2px;
    border: 1px solid rgb(203, 200, 200);
    margin-left: -3px;
    margin-right: 10px;
    padding-top: 5px;
}
.search-button-icon, .search-voice-icon{
    width: 25px;

}
.search-button-voice{
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 19px;
    padding-top: 5px;
}

.third-section{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 34px;

}
.upload-icon, .apps-icon, .notify-icon{
width: 24px;
margin-right: 20px;
}
.profile-icon{
    width: 34px;
    border-radius: 17px;
}