.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom:1px solid rgb(219, 219, 219) ;
    z-index: 100;
}
.first-section{
    display: flex;
    width: 170px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.hamburger-menu-icon{
    width: 25px;
}
.youtube-logo-icon{
    width: 90px;
}

.second-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 470px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 6px ;
    border-radius: 2px;
    border: 1px solid rgb(203, 200, 200);
    box-shadow: inset 1px 1px 1px rgba(176, 175, 175, 0.388);
    z-index: 1;
    width: 0;
}

.search-bar::placeholder{
    font-size: 15px;
}
.search-button{
    height: 38px;
    width: 64px;
    border-radius: 2px;
    border: 1px solid rgb(203, 200, 200);
    margin-left: -3px;
    margin-right: 10px;
    padding-top: 5px;
}
.search-button-icon, .search-voice-icon{
    width: 25px;

}
.search-button-voice{
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 19px;
    padding-top: 5px;
}

.third-section{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 34px;
    flex-shrink: 0;
}
.upload-icon, .apps-icon, .notify-icon{
width: 24px;
}
.profile-icon{
    width: 34px;
    border-radius: 17px;
}
.notifi-container{
    position: relative;
}
.notifi-number{
    position: absolute;
    width: 20px;
    height: 18px;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 15px;
    padding-top: 3px;
    font-size: 12px;
    top: -4px;
    right: -9px;
}