
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.video-thamnail{
    margin-bottom: 8px;
    position: relative;
}
.img-thamnail{
    width: 100%;
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 8px;
    bottom: 8px;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
}
.video-title{
    font-size: 14px;
    margin-bottom: 8px;
}
.video-author-text{
    margin-bottom: 4px;
}
.video-author-text, .video-view-text{
    color: rgb(96, 96, 96);
    font-size: 12px;
}
.viedo-info{
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 10px;
}

.img-channel{
    width: 100%;
    border-radius: 25px;
}


