body {
    padding: 10px;
    padding-bottom: 1000px;
}

.button-class{
    margin-bottom: 8px ;
}
.Subscribe, .Join{
font-family: Arial;
margin: 0 10px 0 0;
font-size: px;
font-weight: 500;
font-size: 14px;
cursor: pointer;
}
.Subscribe{
height: 36px;
width: 112px;
color: white;
background-color: rgb(204, 0, 0);
border: none;
border-radius: 2px;
}

.Subscribe:hover{
    opacity: .7;
}
.Subscribe:active{
    opacity: .4;
}

.Join{
    height: 36px;
    width: 64px;
    color: rgb(6, 95, 212);
    background-color: white;
    border-radius: 2px;
    border: solid 1px rgb(6, 95, 212);
}

.Join:hover{
background-color: #065fd4;
color: white;
}
.Join:active {
    opacity: 0.7;
}
.Tweet{
    padding: 2px 3px;
    font-size: 15px;
    height: 36px;
    width: 75px;
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: 600;
    background-color: rgb(29, 155, 240) ;
    cursor: pointer;
    margin-right: 6px;
    transition: box-shadow .8s;

}
.Tweet:hover{
    
    box-shadow: 1px 3px 11px #000000;
}
.Tweet:active {
    opacity: 0.7;
}

.Request-Now{
    height: 36px;
    width: 120px;
    color: white;
    background-color: black;
}
.link{
    color: rgb(0,113,133);
}
.pricce{
    color: rgb(0, 118, 0);
    font-weight: 900;
}
.add-to-cart, .buy-now{
    width: 130px;
    border: none;
    height: 30px;
    border-radius: 15px;
}
.add-to-cart{
    background-color: rgb(255, 215, 20);
}
.buy-now{
    background-color: rgb(255, 164, 28);
}